# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# xv6
# Ignore xv6 build artifacts
fs.img
kernel/kernel
kernel/kernel.asm
kernel/kernel.sym
mkfs/mkfs
user/_*
user/*.asm
user/*.sym
user/initcode
user/initcode.asm
user/usys.S
